.dots {
  background-image: url("./../../public/dot_red.svg"), url("./../../public/dot_red.svg"), url("./../../public/triangle_right.svg"), url("./../../public/triangle_left.svg");
  background-size: 20rem;
  background-position: -8% 115%, 108% 115%, 108% -15%, -8% -15%;
  background-repeat: no-repeat no-repeat;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  grid-gap: 1rem;
}



.logo {
  position: relative;
}



.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;


}

.input_control {
  padding: 1rem 1.5rem;
  background: white;
  border: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-radius: 13px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
  color: rgb(14, 14, 14);
}

.search_results {
  position: absolute;
  height: 14rem;
  width: 14rem;
  top: 20%;
  left: 50%;
  overflow: auto;
  transform: translateX(-50%);
  z-index: 5;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.search_results::-webkit-scrollbar {
  width: 0.5rem;
}

.search_pokemon_name {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.load_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background: white;
  border: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-radius: 13px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
  color: rgb(14, 14, 14);
  cursor: pointer;


}

.load_more:hover {
  background: #ff9900;
  color: white;
  border: 1px solid rgba(var(--card-border-rgb), 0.5);
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.2);
}



.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* Adjust the alpha channel to control the blur intensity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(8px);
  /* Adjust the blur radius */
}

.loading_spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




/* Enable hover only on non-touch devices */



/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .dots {
    background-size: 4rem;
    background-position: -2% 105%, 102% 105%, 102% -5%, -2% -5%;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
  }


  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }



  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}